.product__count {
    width: 50px;
    height: 30px;
    text-align: center;
}

.overlay {
    opacity: 0.6;
}

@media screen and (max-width: 992px) {
    .product-detail__images {
        margin-bottom: 30px;
    }
}