.pagination {
    padding: 10px 0px;
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: center;
}

.pagination>li {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination>li:hover li {
    color: #fff;
    border-radius: 50%;
    font-weight: bolder;
    background-color: var(--main-color);
}

.pagination>li:last-child, .pagination>li:first-child {
    width: unset;
    height: unset;
    padding: 0px 10px;
}

.pagination-active {
    color: #fff;
    border-radius: 50%;
    font-weight: bolder;
    background-color: var(--main-color);
}