.home__product-slider {
    height: 380px;
}

@media (max-width: 576px) {
    .home__product-slider {
        height: 330px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .home__product-slider {
        height: 350px;
    }
}

.home__product-nav {
    font-size: 1rem;
    color: var(--main-color);
}

.home__product-nav:hover {
    color: var(--main-color);
}

@media screen and (max-width: 577px) {
    .home__product-nav {
        font-size: 0.9rem;
    }
}