#signup {
    background-color: var(--main-bg);
}

.signup__container {
    width: 33%;
    border: 2px solid #fff;
    border-radius: 10px;
}

@media only screen and (max-width: 576px) {
    .signup__container {
        width: 80%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .signup__container {
        width: 65%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .signup__container {
        width: 50%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .signup__container {
        width: 40%;
    }
}