.pr-slide-item {
    min-width: 25%;
    padding: 0px 10px;
    height: 100%;
    transition: 1s;
}

.pr-slide-item>a {
    text-decoration-color: var(--main-color);
}

@media only screen and (max-width: 600px) {
    .pr-slide-item {
        min-width: 50%;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .pr-slide-item {
        min-width: calc(100% / 3);
    }
}

.slide-item__img {
    height: 80%;
}

.slide-item__text {
    height: 20%;
    font-size: 0.9rem;
}

.slide__item-name {
    color: var(--main-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}